
@model FarmViewModel

<div class="pesho">
    <section class="farm-info">
        <div id="heading-one">
            <h1> @Model.Name</h1>
        </div>
        <div class="farm-description">
            <p>@Model.Description</p>
        </div>
        <div class="farm-description">
            <p>@Model.Phone</p>
        </div>
    </section>
    <section style="height: 107px;">
        @{
            string category = null;
        }
        <nav class="navbar navbar-default">
            <ul name="category-nav" id="farm-navigation" class="nav navbar-nav">
                <li class="navbar-link dropdown">
                    <button onclick="myFunction(event)" class="dropth">Dairy</button>
                    <ul id="dairy" class="dropdown-menu">
                        <li>
                            <a href="#milk-cream">Milk &amp; Cream</a>
                            @{
                                category = "Milk";
                            }
                        </li>
                        <li>
                            <a href="#eggs">Eggs</a>
                            @category = "Eggs";
                        </li>
                        <li>
                            <a href="#yogurt">Yogurt</a>
                            @category = "Yogurt";
                        </li>
                        <li>
                            <a href="#butter">Butter</a>
                            @category = "Butter";
                        </li>
                        <li>
                            <a href="#cheese">Cheese</a>
                            @category = "Cheese";
                        </li>
                        <li>
                            <a href="#other">Other</a>
                            @category = "Other";
                        </li>
                    </ul>
                </li>
                <li class="navbar-link dropdown">
                    <button onclick="myFunction(event)" class="dropth">Fruits&Veges</button>
                    <ul id="meat" class="dropdown-menu">
                        <li>
                            <a href="#fruits" data-filter="15" data-parent="15" data-categoryid="196" data-source="#category-navbar">Fruits</a>
                        </li>
                        <li>
                            <a href="#vegetables" data-filter="15" data-parent="15" data-categoryid="197" data-source="#category-navbar">Vegetables</a>
                        </li>
                        <li>
                            <a href="#cans" data-filter="15" data-parent="15" data-categoryid="198" data-source="#category-navbar">Cans</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-link dropdown">
                    <button onclick="myFunction(event)" class="dropth">Meat</button>
                    <ul id="dairy" class="dropdown-menu">
                        <li>
                            <a href="#poultry">Poultry</a>
                        </li>
                        <li>
                            <a href="#beef">Beef</a>
                        </li>
                        <li>
                            <a href="#pork">Pork</a>
                        </li>
                        <li>
                            <a href="#lamb">Lamb</a>
                        </li>
                        <li>
                            <a href="#seafood">Seafood</a>
                            @{category = "Seafood";}
                        </li>
                        <li>
                            <a href="#bacon-sausage">Bacon &amp; Sausage</a>
                        </li>
                        <li>
                            <a href="#deli-charcuterie">Deli &amp; Charcuterie</a>
                        </li>
                        <li>
                            <a href="#deli-charcuterie">Others</a>
                            @{
                                category = "others";
                            }

                        </li>
                    </ul>
                </li>
                <li class="navbar-link dropdown">
                    <button onclick="myFunction(event)" class="dropth">Drinks</button>
                    <ul id="dairy" class="dropdown-menu">
                        <li>
                            <a href="#coffee" data-filter="9" data-parent="9" data-categoryid="60" data-source="#category-navbar">Rakia</a>
                        </li>
                        <li>
                            <a href="#tea" data-filter="9" data-parent="9" data-categoryid="73" data-source="#category-navbar">Wine</a>
                        </li>
                        <li>
                            <a href="#juice" data-filter="9" data-parent="9" data-categoryid="70" data-source="#category-navbar">Juice</a>
                        </li>
                        <li>
                            <a href="#other-drinks" data-filter="9" data-parent="9" data-categoryid="72" data-source="#category-navbar">Other Drinks</a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="navbar-link dropdown">
                <a href="#bakery" data-filter="16" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" data-source="#category-navbar">Bakery</a>
                <ul class="dropdown-menu">
                <li>
                <a href="#bread" data-filter="16" data-parent="16" data-categoryid="19" data-source="#category-navbar">Bread</a>
                </li>
                <li>
                <a href="#crumbs-and-croutons" data-filter="16" data-parent="16" data-categoryid="21" data-source="#category-navbar">Crumbs and Croutons</a>
                </li>
                <li>
                <a href="#bagels-breakfast" data-filter="16" data-parent="16" data-categoryid="17" data-source="#category-navbar">Bagels &amp; Breakfast</a>
                </li>
                <li>
                <a href="#tortillas-flatbreads" data-filter="16" data-parent="16" data-categoryid="22" data-source="#category-navbar">Tortillas &amp; Flatbreads</a>
                </li>
                <li>
                <a href="#bake-at-home" data-filter="16" data-parent="16" data-categoryid="18" data-source="#category-navbar">Bake at Home</a>
                </li>
                <li>
                <a href="#baked-sweets" data-filter="16" data-parent="16" data-categoryid="20" data-source="#category-navbar">Baked Sweets</a>
                </li>
                </ul>
                </li>
                -->
            </ul>
        </nav>
    </section>
    <section class="producstList">
        <ul>
            @{
                IEnumerable<ProductViewModel> products = null;
                if (category != null)
                {
                    products = Model.Products.Where(p => p.Category == category);
                }
                else
                {
                    products = Model.Products;
                }
            }
            @foreach (var product in products)
            {
                <form>
                <li class="product-element">
                    <img style="width:4rem;" src="~/img/photo-coming-soon.jpg">
                    <p>@product.Name</p>
                    <p>@product.Category</p>
                    <p>@product.Description</p>
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="Quantity" min="1" max="20" value="1">
                    <a asp-area="Client" asp-controller="Cart" asp-action="AddToCart" asp-route-id=@product.Id>Add</a>
                </li>
                </form>
            }
        </ul>
    </section>
</div>


